{% extends 'main/base.html' %}
    {% block title %}Artykuły{% endblock %}
    {% block content %}
        <div class="features">
            <h1>Artykuły na stronie</h1>
            {% if news %}
                {% for item in news %}
                    <div class="alert alert-warning">
                        <h3>{{ item.title }}</h3>
                        <p>{{ item.anons }}</p>
                        <a href="{% url 'news_detail' item.id %}" class="btn btn-warning">Czytać szczegóły</a>
                    </div>
                {% endfor %}
            {% else %}
                <p>Nie ma artykułów</p>
            {% endif %}
        </div>
    {% endblock %}