{% extends 'main/base.html' %}
    {% block title %}{{title}}{% endblock %}
    {% block content %}
        <div class="features">
            <h1>{{title}}</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum esse eveniet harum impedit, itaque obcaecati odio officiis possimus quibusdam suscipit. Consequatur culpa id mollitia non perspiciatis praesentium sit totam unde.</p>
            <button class="btn btn-warning">O nas</button>
            {% for item in values %}
                <p>{{item}}</p>
            {% endfor %}
        </div>
    {% endblock %}